body{
  font-family:tahoma;
  font-size:16px;
}

/*Indentation for hierarchical display*/
.list-group {
  padding-left: 30px;
}
.just-padding {
  padding: 15px;
}
/**
Draw line for list-group
*/
.list-group {
  position: relative;
}
.list-group::after {
  content: "";
  position: absolute;
  left: -12px;
  border-left: 1px solid #000;
  height: 100%;
  width: 0px;
  top: 2px;
}

/*Remove left border line for last list-group div*/
a.list-group-item:last-of-type + div::after {
  border-style: none;
}
a.list-group-item:last-of-type + div.attribute + div::after {
  border-style: none;
}

/*Draw tree line*/
.list-group-item {
  position: relative;
  background-color: transparent;
  border-style: none none none none;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.list-group-item::before, .list-group-item::after {
  content: "";
  position: absolute;
  left: -12px;
}
.list-group-item::before {
  border-top: 1px solid black;
  top: 14px;
  width: 15px;
  height: 0;
}
.list-group-item::after {
  border-left: 1px solid #000;
  height: 100%;
  width: 0px;
  top: 2px;
}
.list-group > .list-group-item:last-of-type::after {
  height: 50%;
}
.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

#schema a {
  color: #007bff;
  text-decoration: none;
}

#schema a:hover {
  color: #0056b3;
  text-decoration: underline;
}

#schema a:not([href]) {
  color: inherit;
  text-decoration: none;
  cursor:text;
}

#schema a[href] {
  color: #007bff;
}

#infoBoard {
  /*z-index: -1;*/
  position: sticky;
  top: 50px;
  padding: 15px;
  margin-right: 300px;
  font-size:18px;
}

#schema {
  padding-left: 30px;
  margin-bottom: 50px;
  font-size:20px;
}

#viewer {
  margin-left: 200px;
}

h1 {
  font-weight: bold !important;
}

h2 {
  margin-top: 30px;
}

.ui-autocomplete {
  cursor:pointer; 
  height:300px; 
  overflow-y:scroll;
  overflow-x: hidden;
}

#autobox {
  margin-top: 30px;
}